.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
}

.header {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
